<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    <header>
      {% include masthead.html %}
      <section class="intro">
        <div class="our-container">
          <div class="row">
            <div class="col">
              <h1>{{ page.title }}</h1>
              {% breadcrumbs %}
            </div>
          </div>
        </div>
      </section>
    </header>
    <main>
      <div class="our-container">
        <div class="row">
          <div class="col pt-3">
            {% include posts.html %}
          </div>
        </div>
      </div>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
